<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Auto-Rotated On-Call List App</title>
        <style media="screen" type="text/css">
            @import "{{ url_for('static', filename='style.css') }}";
        </style>
    </head>
    <body>
        <div id="header">
            <div id="container">
                <div id="logo">
                    <img src="{{ url_for('static', filename='logo.svg') }}" height="64" width="64">
                </div>
                <div width="100%" id="topmenu">
                    <ul>
			<li>Settings</li>
			<li>Add/Remove Teams</li>
			<li>Add/Remove Members</li>
                    </ul>
                </div>
            </div>
        </div>
    <div id="container">
        <div id="sidebar"><h3>Auto-rotated On-Call List</h3> <p>Current on-call member for each team is in green.</p> </div>
        <div id="main" class="main">
            {% block main %}{% endblock %}
        </div>
    </body>
</html>
